<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>Use this site to get your weather!</p>

        <form>
          <input type="text" placeholder="Location">
          <button>Search</button>
        </form>

        <p>Location: <span id="place"></span></p>
        <p>Description: <span id="description"></span></p>
        <p>Temp: <span id="temp"></span> F</p>
        <p>Wind: <span id="wind"></span> mph</p>
        <p>Rain: <span id="rain"></span> %</p>
        <img id="icon" src="" alt="">
    </div>

    {{>footer}}

    <script src="/js/app.js"></script>
</body>

</html>